// SCSS

@import url('https://fonts.googleapis.com/css?family=Cabin');

// Color

$green: #25b99a;
$lightgreen: #66ceb8;
$blue: #2c3e50;
$white: #fff;
$grey: #edf0f1;
$red: #e85656;
$darkGrey: #c0cecb;

// Variables
//
//

$fullWidth: 100%;
$marginTopPadding: 170px;
$boxshadow: 0px 2px 4px $blue;

// Styles

body {
    background: $grey;
}

.nofill {
    fill: none;
}

main .wrap {
    width: 400px;
}

header {
    width: $fullWidth;
    height: 80px;
    position: fixed;
    margin-top: $marginTopPadding;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    background: $red;
    box-shadow: 0px 2px 4px $blue;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

header input {
    width: $fullWidth;
    height: 50px;
    float: left;
    color: $blue;
    font-size: 10px;
    font-weight: 400;
    text-indent: 10px;
    padding: 0 60px 0 0;
    background: $grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;

    -webkit-apperance: none;
    -moz-apperance: none;
    -ms-apperance: none;
    -o-apperance: none;
    apperance: none;
}

header input::-webkit-input-placeholder {
    color: $blue;
}

header input:-moz-input-placeholder {
    color: $blue;
}

header input::-webkit-input-placeholder {
    color: $blue;
}

header input:-ms-input-placeholder {
    color: $blue;
}

header button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    border-radius: 25px;
    background: $white;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    -webkit-apperance: none;
    -moz-apperance: none;
    -ms-apperance: none;
    -o-apperance: none;
    apperance: none;
}

header button svg {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}

header button svg .fill {
    fill: $red;
}

ul {
    list-style:none;
    padding-left:0;
}

ul.todo {
    width: 100%;
    float: left;
    padding: 25px 0 0 0;
    display: table-row;
}

ul.todo li {
    width: $fullWidth;
    position: relative;
    display: table-row;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    min-height: 50px;
    float: left;
    background: $white;
    border-radius: 5px;
    box-shadow: 0px 1px 1px $blue;
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
}

.listarea {
    position: fixed;
    margin-top: 90px;
    width: $fullWidth;
    float: left;
}

ul.todo li:last-of-type {
    margin: 0;
}

ul.todo li .buttons {
    width: $fullWidth;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

ul.todo li .buttons button {
    width: 50px;
    height: 50px;
    float: right;
    background: none;
    position: relative;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    -webkit-apperance: none;
    -moz-apperance: none;
    -ms-apperance: none;
    -o-apperance: none;
    apperance: none;
}

ul.todo li .buttons button:last-of-type:before {
    content: '';
    width: 2px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 50px;
    background: $grey;
}

ul.todo li .buttons button svg {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg {
    border-radius: 11px;
    border: 0.5px solid $green;

    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg {
    background: $green;
    border: 0px;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
    background: $green;
    opacity: 0.7;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
    fill: $white;
}

ul.todo#completed li .buttons button.complete svg .fill {
    fill: $white;
}

ul.todo li .buttons button svg .fill {
    -webkit-transition: fill 0.2s ease;
    -moz-transition: fill 0.2s ease;
    -ms-transition: fill 0.2s ease;
    -o-transition: fill 0.2s ease;
    transition: fill 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill {
    fill: $darkGrey;
}

ul.todo li .buttons button.remove:hover svg .fill {
    fill: $red;
}

ul.todo li .buttons button.complete svg .fill {
    fill: $green;
}

ul.todo#completed:not(:empty) {
    position: relative;
    padding: 60px 0 0 0;
}

ul.todo#completed:not(:empty):before {
    content: '';
    width: 150px;
    height: 1px;
    background: $darkGrey;
    position: absolute;
    top: 20px;
    left: 50%;
    margin: 0 0 0 -75px;
}

.lead {
    font-size: 1.1em;
}

hr {
    border:  0.5px solid $lightgreen;
    width: 70px;
}

a {
    color: $green;
}
